h1, h2, h3, h4, h5, h6 {
	clear: both;
	text-transform: uppercase;
	letter-spacing: 6px;
	font-weight: 400;

}

.entry-content h1 {
	font-size: 30px;
}
section.intro {

	h1 {
		font-size: 34px;
		color: $color-red;
		width: 100%;
		position: relative;
		text-align: center;
		margin: 0 0 60px 0;
		&:after {
			content: '';
			border-bottom: 4px solid $color-red;
			position: absolute;
			bottom: -10px;
			left: 47%;
			width: 6%;
		}
	}
}
h2 {
	margin: 0 0 15px 0;
	color: $color-gray;
}
