* { -webkit-hyphens: none; }
div {
	
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width:90%;
		padding: 0px;
	}
}
.wrapper-page {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	margin-top: 30px;
	@media screen and (min-width: $tabwidth) {
		width: 90%;
	}
	@media screen and (min-width: $deskwidth) {
		width:70%;
		padding: 0px;
	}
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}


.upper-bar {
	width: 100%;
	height: 10px; 
	background-color: $color-green;
	float: left;
}
section.top-header {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	flex-direction: column;
	// display: block;
	@media screen and (min-width: $tabwidth) {
		flex-direction: row;
		justify-content: space-between;
		width: 90%;
		margin: 30px auto;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
	.new-btn, .phonenum {
		width: auto;
		text-transform: uppercase;
		font-size: 20px;
		a {
			display: block;
			color: $color-red;
			padding: 10px 10px 10px 10px;
			text-decoration: none;
			@include transition(all ease .3s);
			&:after {
				i {

				}
			}
			&:hover {
				background-color: $color-red;
				color: #fff;
			}
		}
		@media screen and (min-width: $tabwidth) {
			margin: 40px 0 0 0;
		}
	}
}
header#masthead {
	width: 100%;
	text-align: center;
	position: relative;
}
/* Logo */
.logo , h1.logo {
	width: 300px;
	// background-image: url(images/logo.png);	
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.logo a, h1.logo a {
	width: 300px;
	display: block;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.page-banner {
	width: 100%;
	clear: both;
}

footer.site-footer {
	width: 100%;
	clear:both;
	text-align: center;
	padding: 40px 0;
	a {
			color: $color-gray;
		}
}
section.footer-address {
		
	}
.social {
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
	margin: 20px auto;
	.s-icon {

		display: inline-block;
		a {
			display: block;
			background-color: $color-green;
			color: #fff;
			width: 50px;
			height: 50px;
			line-height: 50px;
			border-radius: 50%;
			&:hover {
				i {transform: scale(1.2);}
			}
		}
		i {
			@include transition(all ease .3s);
			transform: scale(1);
		}
	}
	a {
		color: #fff;
	}
}
.bottom-red {
	width: 100%;
	clear: both;
	height: 10px;
	background-color: $color-red;
}