* { -webkit-hyphens: none; }
div {
	
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width:90%;
		padding: 0px;
	}
}
.wrapper-page {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	margin-top: 30px;
	@media screen and (min-width: $tabwidth) {
		width: 90%;
	}
	@media screen and (min-width: $deskwidth) {
		width:70%;
		padding: 0px;
	}
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.btnlink {
	width: auto;
	display: inline-block;
	a {
		background-color: $color-green;
		color: #fff;
		@include transition(all ease .3s);
		padding: 10px;

		display: block;
		&:hover {
			background-color: #fff;
			color: $color-red;
		}
	}
}
.basic-section {
	width: 100%;
	margin: 0 0 30px 0;
}
.upper-bar {
	width: 100%;
	// height: 10px; 
	padding: 5px 0;
	background-color: $color-dark-green;
	float: left;
	color: #fff;
	.tel {
		width: 100%;
		font-size: 18px;
		float: left;
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			width: auto;
		}
		a {
			color: #fff;
		}
	}
	.add {
		width: 100%;
		font-size: 14px;
		float: right;
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			width: auto;
		}
	}
}
.lower-bar {
	width: 100%;
	text-align: center;
	background-color: $color-green;
	padding: 5px 0;
	color: #fff;
	font-size: 20px;
	float: left;
}
section.top-header {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	flex-direction: column;
	// display: block;
	@media screen and (min-width: $tabwidth) {
		flex-direction: row;
		justify-content: space-between;
		width: 90%;
		margin: 30px auto;
		align-items: center;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
	.col1{
		@media screen and (min-width: $tabwidth) {
			flex-basis: 33%;
		}
	}
	.col2 {
		@media screen and (min-width: $tabwidth) {
			flex-basis: 33%;
		}
	}
	
	.col3 {
		@media screen and (min-width: $tabwidth) {
			flex-basis: 33%;
		}
	}
	.new-btn {
		width: auto;
		text-transform: uppercase;
		font-size: 20px;
		@media screen and (min-width: $tabwidth) {
			float: left;
			width: 50%;
		}
		a {
			display: block;
			background-color: $color-red;
			padding: 10px 10px 10px 10px;
			text-decoration: none;
			@include transition(all ease .3s);
			color: #fff;
			border: 1px solid $color-red;

			&:after {
				i {

				}
			}
			&:hover {
				color: $color-red;
				background-color: #fff;
			}
		}
		@media screen and (min-width: $tabwidth) {
			margin: 40px 0 0 0;
		}
	}
	.phonenum {
		width: auto;
		text-transform: uppercase;
		font-size: 20px;
		@media screen and (min-width: $tabwidth) {
			float: left;
		}
		.header-address {
			font-size: 13px;
		}
		a {
			display: block;
			color: $color-red;
			// padding: 10px 10px 10px 10px;
			text-decoration: none;
			@include transition(all ease .3s);
			&:after {
				i {

				}
			}
			&:hover {
				// background-color: $color-red;
				// color: #fff;
			}
		}
		@media screen and (min-width: $tabwidth) {
			margin: 40px 0 0 0;
		}
	}
	.x-link {
	width: 100%;
	@media screen and (min-width: $tabwidth) {
		width: 60%;
		float: right;
	}
		a {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			.img {
				width: 25%;
				img {
					width: 100%;
				}
			}
			.desc {
				width: 70%;
				color: $color-red;
				
				a {
					color: $color-red;
				}
			}
		}
	}
}
header#masthead {
	width: 100%;
	text-align: center;
	position: relative;
	float: left;
}
/* Logo */
.logo , h1.logo {
	width: 300px;
	// background-image: url(images/logo.png);	
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
		
		margin: 0 auto;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.logo a, h1.logo a {
	width: 300px;
	display: block;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.page-banner {
	width: 100%;
	clear: both;
}

footer.site-footer {
	width: 100%;
	clear:both;
	text-align: center;
	padding: 40px 0;
	a {
			color: $color-gray;
		}
}
section.footer-address {
		
	}
.social {
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
	margin: 20px auto;
	.s-icon {

		display: inline-block;
		a {
			display: block;
			background-color: $color-green;
			color: #fff;
			width: 50px;
			height: 50px;
			line-height: 50px;
			border-radius: 50%;
			&:hover {
				i {transform: scale(1.2);}
			}
		}
		i {
			@include transition(all ease .3s);
			transform: scale(1);
		}
	}
	a {
		color: #fff;
	}
}
.bottom-red {
	width: 100%;
	clear: both;
	height: 10px;
	background-color: $color-red;
}
section.sitemap {
	width: 100%;
	text-align: center;
	li {list-style-type: none;}
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		font-size: 24px;
		width: 100%;
		position: relative;
		margin: 0 0 30px 0;
		
		a {
			color: $color-red;
			width: 100%;
			position: relative;
			display: block;
			margin: 0 0 15px 0;
			&:after {
				content:'';
				position: absolute;
				left: 45%;
				width: 10%;
				bottom: -5px;
				border-bottom: 3px solid $color-red;
			}
		}
		ul {
			margin: 0 0 20px 0;
			li {
				font-size:20px;
				a {
					&:after {
						border-bottom: 0px solid $color-red;
					}
				}
			}
		}
	}
}
section.anchors {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	@media screen and (min-width: $tabwidth) {
		flex-wrap: nowrap;
	}
	@media screen and (min-width: $deskwidth) {

	}
	a {
		display: block;
		padding: 10px 20px;
		margin: 0 3px 0 3px ;
		background-color: $color-green;
		color: #fff;
		@include transition(all ease .2s);
		&:hover {
			background-color: $color-red;
		}
	}
}
