.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
section.welcome {
	width: 100%;
	float: left;
	position: relative;
	@media screen and (min-width: $tabwidth) {
		display: flex;
		flex-direction: row;
		align-items: stretch;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
	.left {
		width: 100%;
		line-height: 0;
		img {
			width: 100%;
		}
		@media screen and (min-width: $tabwidth) {
			width: 50%;
		}
		@media screen and (min-width: $deskwidth) {
			
		}
	}
	.right {
		width: 100%;
		background-color: $color-red;
		color: #fff;
		
		line-height: 0;
		padding: 5%;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
		}
		@media screen and (min-width: $deskwidth) {
			
		}
		h2 {
			font-size: 20px;
			text-transform: uppercase;
			color: $color-green;
			line-height: 1;
			font-weight: 400;
			@media screen and (min-width: $tabwidth) {
		
			}
			@media screen and (min-width: $deskwidth) {
				
			}
		}
		.copy {
			line-height: 1.2;
			font-size: 16px;
			@media screen and (min-width: $tabwidth) {
		
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 18px;
			}
		}
	}
	.btnlink {
		width: auto;
		display: inline-block;
		a {
			background-color: $color-green;
			color: #fff;
			@include transition(all ease .3s);
			padding: 10px;

			display: block;
			&:hover {
				background-color: #fff;
				color: $color-red;
			}
		}
	}
}
section.worship-schedule {
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
	padding: 30px 0;
	background-color: $color-green;
	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		
	}
	h2 {
		color: $color-red;
		width: 100%;
		float: left;
		margin: 0 0 30px 0;
	}
	section.times {
		width: 100%;
		color: #fff;
		@media screen and (min-width: $tabwidth) {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
		}
		.servicetime {
			font-size: 20px;
			.label {

			}
			.time {

			}
		}
	}
}
section.quicklinks {
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
	padding: 50px 0;
	background-color: #fff;
	@media screen and (min-width: $tabwidth) {
		// display: flex;
		// flex-direction: row;
		// align-items: stretch;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
	h2 {
		color: $color-red;
		width: 100%;
		margin: 0 0 30px 0;
	}
	.icon-wrap {
		width: 90%;
		margin: 0 auto;
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		@media screen and (min-width: $midwidth) {
			width: 90%;
			flex-wrap: nowrap;
		}
	}
	.link {
		width: 100%;
		text-align: center;
		margin: 0 auto;
		@media screen and (min-width: $tabwidth) {
			width: 40%;
		}
		@media screen and (min-width: $midwidth) {
			width: 20%;
		}
		a {
			color: $color-red;
			display: block;
		}
		h3 {
			width: 100%;
			text-align: center;
			@media screen and (min-width: $tabwidth) {
				font-size:18px;
			}
			@media screen and (min-width: $midwidth) {
				font-size: 14px;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 18px;
			}
		}
	}
	.icon {
		width: 100px;
		height: 100px;
		line-height: 120px;
		border-radius: 50%;
		margin: 0 auto;
		background-color: $color-red;
		color: #fff;
		transform: scale(1);
		@include transition(all ease .2s);
		@media screen and (min-width: $tabwidth) {
		
		}
		@media screen and (min-width: $deskwidth) {
			
		}
		
		i {
			color: #fff;
			
		}
		&:hover {
			transform: scale(1.1);
		}
		
	}
}
section.upcoming-events {
	width: 100%;
	position: relative;
	float: left;
	text-align: center;
	background-color: $color-red;
	color: $color-green;
	padding: 40px 0;
	.eventwrapper {
		width: 90%;
		position: relative;
		margin: 0 auto;
		@media screen and (min-width: $tabwidth) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: stretch;
		}
		@media screen and (min-width: $midwidth) {
			flex-wrap: nowrap;
		}
	}
	.event-card {
		flex-basis: 40%;
		text-align: center;
		padding: 5px 5px 20px 5px;
		width: 90%;
		margin: 0 auto 30px auto;
		@media screen and (min-width: $midwidth) {
			flex-basis: 20%;
		}
		h3 {
			font-size: 14px;
			color: $color-green;
			a {

			}
		}
		&:hover {
			background-color: rgba(#fff, .4);
		}
		.datetime {
			color: #fff;
		}
	}
	.allevents {
		width: auto;
		display: inline-block;
		margin-top: 30px;
		a {
			width: auto;
			display: block;
			padding: 10px 20px ;
			background-color: $color-green;
			color: $color-red;
			@include transition(all ease .3s);
			&:hover {
				background-color: #fff;
			}
		}
	}
}
section.events-page {
	width: 100%;
	position: relative;
	float: left;
	text-align: center;
	
	color: $color-green;
	padding: 40px 0;
	.eventwrapper {
		width: 90%;
		position: relative;
		@media screen and (min-width: $tabwidth) {
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: stretch;
		}
		@media screen and (min-width: $deskwidth) {
			
		}
	}
	.event-card {
		flex-basis: 30%;
		text-align: center;
		padding: 5px 5px 20px 5px;
		background-color: $color-red;
		margin-bottom: 30px;
		h3 {
			font-size: 14px;
			color: $color-green;
			a {

			}
		}
		&:hover {
			// background-color: $color-gray;
			-webkit-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.6);
box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.6);

		}
		.datetime {
			color: #fff;
		}
	}
	.allevents {
		width: auto;
		display: inline-block;
		margin-top: 30px;
		a {
			width: auto;
			display: block;
			padding: 10px 20px ;
			background-color: $color-green;
			color: $color-red;
		}
	}
}

section.staff {
	width: 100%;
	position: relative;
	@media screen and (min-width: $tabwidth) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: stretch;
		align-content: flex-start;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
	.staff-card {
		width: 90%;
		text-align: center;
		padding: 2%;
		border: 2px solid $color-green;
		margin: 0 auto 30px auto;
		background-color: rgba($color-green, .2);
		@include transition(all ease .3s);
		&:hover {
			background-color: rgba($color-green, .7);
		}
		@media screen and (min-width: $tabwidth) {
			flex-basis: 30%;
			flex-grow: 0;
			margin: 0 0 30px 0;
		}
		@media screen and (min-width: $deskwidth) {
			
		}
		a {
			display: block;
			
		}
		h3 {
			color: $color-red;
			margin: 0 0 10px 0;
			a {
				
			}
		}
		h4 {
			color: $color-gray;
			letter-spacing: 0;
			margin: 0 0 10px 0;
			a {
				
			}
		}
		.email {
			a {
				color: $color-gray;
				transform: scale(1);
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}
.pop-bio {
	background-color: #fff;
	overflow: hidden;
	.pop-wrap {
		padding: 5%;
		@media screen and (min-width: $tabwidth) {
			padding: 2%;
		}
	}
	h1 {
		margin: 0 ;
	}
	.nav {
		width: 100%;
		height: 70px;
		position: relative;
		background-color: $color-red;
	}
	.pic {
		width: 100%;
		img {
			width: 100%;
		}
		@media screen and (min-width: $tabwidth) {
			width: 24%;
			float: left;
		}
		@media screen and (min-width: $deskwidth) {
			
		}
	}
	.email {
		width: 100%;
		margin: 0 0 20px 0;
	}
	.bio {
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			width: 60%;
			float: right;
		}
		@media screen and (min-width: $deskwidth) {
			
		}
	}
}
section.dec-elders {
	width: 100%;
	padding: 40px 0;
	section.area {
		width: 100%;
		padding: 30px 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		@media screen and (min-width: $tabwidth) {
			justify-content: space-between;
		}
		@media screen and (min-width: $deskwidth) {
			
		}
		h2 {
			color: $color-red;
			width: 100%;
			border-bottom: 1px solid $color-red;
		}
		.col {
			flex-basis: 90%;
			@media screen and (min-width: $tabwidth) {
				flex-basis: 30%;
			}
			@media screen and (min-width: $deskwidth) {
				
			}
		}
	}
}
section.sections {
	width: 100%;
	position: relative;
	.section {
		width: 100%;
		float: left;
		margin: 0 0 30px 0;
		.copy {
			width: 100%;
			@media screen and (min-width: $tabwidth) {
				width: 60%;
				float: left;
			}
			@media screen and (min-width: $deskwidth) {
				
			}
		}
		.img {
			width: 100%;
			@media screen and (min-width: $tabwidth) {
				width: 30%;
				float: right;
				margin: 10px 0 0 0;
			}
			.single-image {
				width: 100%;
				margin: 0 0 10px 0;
				img {
					width: 100%;
				}
			}
			@media screen and (min-width: $deskwidth) {
				
			}
		}
	}
}
section.sermons {
	width: 100%;
	float: left;
	.month-sep {
		width: 100%;
		float: left;
		color: #fff;
		background-color: $color-green;
		padding: 10px;
	}
	.sermon-row {
		width: 100%;
		border-bottom: 4px solid $color-red;
		padding: 2%;
		background-color: #efefef;
		overflow: hidden;
		@media screen and (min-width: $tabwidth) {
			flex-wrap: nowrap;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		.date {
			height: 64px;
		    width: 64px;
		    font-size: 18px;
		    line-height: 1;
		    text-transform: uppercase;
		    position: relative;
		    overflow: hidden;
		    
		    @media screen and (min-width: $tabwidth) {
		    	flex-basis: 10%;
			}
			&:before {
				background: url(images/slash.svg) no-repeat scroll center center rgba(#000,0);
			    content: "";
			    height: 130%;
			    left: 5px;
			    position: absolute;
			    top: -5px;
			    transform: rotate(20deg);
			    width: 70%;
			}
			.month {
				top: 0;
			    position: absolute;
			    left: 0;
			}
			.day {
				bottom: 0;
			    position: absolute;
			    right: 0;
			}
			
		}
		.sermon {
			text-align: left;
			color: $color-red;
			
			padding: 0 0 0 2%;
			width: 100%;
			@media screen and (min-width: $tabwidth) {
				flex-basis: 50%;
				width: auto;
				border-left: 2px solid $color-red;
			}
			h3 {
				font-size: 18px; 
			}
			
			h4 {
				font-size: 14px; 
			}
			
			h4, h3 {
				letter-spacing: 0px;
				margin: 0 0 10px 0;
			}

			
		}
		.passage {
			width: 45%;
			float: left;
			@media screen and (min-width: $tabwidth) {
				flex-basis: 25%;
				width: auto;
				float: none;
			}
		}
		.minister {

		}
		.downloads {
			width: 45%;
			float: right;
			@media screen and (min-width: $tabwidth) {
				flex-basis: 10%;
				width: auto;
				float:none;
			}
		}
		.watch {
			width: 50%;
			transform: scale(1);
		}
		.download {
			width: 50%;
		}
		.watch, .download {
			float: left;
			padding: 2%;
			@media screen and (min-width: $tabwidth) {
				float:none;
			}
			i {
				transform: scale(1);
				@include transition(all ease .3s);
			}
			
			@include transition(all ease .3s);
			&:hover {
				i {
					transform: scale(1.3);
				}
			}
		}
	}
}
// Give 
section.cpages {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	@media screen and (min-width: $tabwidth) {

	}
	@media screen and (min-width: $deskwidth) {

	}
	.cpage {
		flex-basis: 100%;
		margin: 50px 0;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		@media screen and (min-width: $tabwidth) {
			flex-basis: 30%;
		}
		@media screen and (min-width: $deskwidth) {

		}
		h2 {
			width: 100%;
			color: $color-red;
			text-align: center;
		}
		img {
			width: 100%;
		}
		.btn {
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			align-self: flex-end;
			a {
				display: block;
				background-color: $color-green;
				color: #fff;
				padding: 15px 0;
				@include transition(all ease .2s);
				&:hover {
					background-color: $color-red;
				}
			}
		}
	}
}
.donation-links {
	h2 {
		width: 100%;
		text-align: center;
		margin: 40px 0;
	}
}
.linkouts {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 50px;
	@media screen and (min-width: $tabwidth) {
		flex-wrap: wrap;
	}

	.linkbox {
		flex-basis: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		@media screen and (min-width: $tabwidth) {
			flex-basis: 30%;
		}
		@media screen and (min-width: $deskwidth) {

		}
		h3 {
			width: 100%;
			color: $color-red;
			text-align: center;
			letter-spacing: 1px;
		}
		img, .img, .img img {
			width: 100%;
			line-height: 0;
		}
		.btn {
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			align-self: flex-end;
			a {
				display: block;
				background-color: $color-green;
				color: #fff;
				padding: 15px 0;
				@include transition(all ease .2s);
				&:hover {
					background-color: $color-red;
				}
			}
		}
	}
}





